<html>
<body onload="buildTable(data={{presence}})">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
<style>
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2980B9;
  color: white;
  
}
table {
  width: 100%;
}
tr:nth-child(even){background-color: #f2f2f2;}
td,th {
  border: 1px solid #ddd;
  padding: 8px;
}
</style>
</head>



</html>

<div class="column is-4 is-offset-4">
    <h1 class="title">Presence Page for random code {{codegiven}}</h1>
    <div class="box">


    <table  class="center" >
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Presence</th>
        </tr>
    
        <tbody id="myTable">            
        </tbody>
    </table><br>

</div>   
<script>
	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].FirstName}</td>
							<td>${data[i].LastName}</td>
							<td>${data[i].Presence}</td>

					  </tr>`
			table.innerHTML += row


		}
	}

</script>

</body>
</html>